--Rules
1. Dont stand Up Randomly.
2. Dont Make loud Noice.
3. Dont break down stuff.
4. Dont press the stop button every time if you dont need go out of the bus.
for breakign the Joey's Bus Rules you get a Payment of 500 Robux.
